{
	"extends": "stylelint-config-twbs-bootstrap/scss",
	"rules": {
		"indentation": "tab",
		"scss/dollar-variable-default": null,
		"selector-no-qualifying-type": null,
		"selector-type-no-unknown": [true, { "ignore": ["custom-elements"] }],
		"no-missing-end-of-source-newline": null
	}
}