header {
	h1 {
		margin: 0;
		text-align: center;
	}

	// Container for the undo, restart, and the zardoz toggle buttons.
	.controls {
		margin: map-get($spacers, 3) 0;

		/**
		 * The tiles at the bottom of the page, inside the <next-symbol> element, are not completely
		 * visible on screens that have a width greater than of 490px and a height less than 810px.
		 * This media query removes the vertical margin of .controls which helps make the tiles at
		 * the bottom of the page visible.
		 */
		@media (max-height: 850px) {
			margin: 0;
		}

	}

	// Undo and restart buttons.
	button {
		width: 24px;
		height: 24px;
		padding: 0;
		background: none;
		border: 0;

		&[disabled] {
			opacity: .4;
		}
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
	}
}