/**
 * Absolutely positions an element and makes it occupy 100% of the size of its parent.
 */
@mixin absolute-100 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * Mixin to assign a responsive width and height to a tile.
 */
@mixin responsive-tile {
	@each $name, $width in $board-sizes {
		@include media-breakpoint-up($name, $grid-breakpoints) {
			$tile-width: map-get($tile-sizes, $name);

			width: $tile-width;
			height: $tile-width;
		}
	}
}

/**
 * Mixin with common animation properties.
 */
@mixin ease-in-out($duration) {
	animation-duration: $duration;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}