/**
 * Absolutely positions an element and makes it occupy 100% of the size of its parent.
 */
@mixin absolute-100 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**
 * Assigns a responsive width and height to a tile. This mixin uses the widths in `$board-sizes`,
 * substracts the corresponding $spacing (as specified in `$tile-spacings`), and divides it by the
 * specified `$tiles-per-row` (which is 3 by default).
 */
@mixin responsive-tile($tiles-per-row: 3) {
	@each $name, $board-width in $board-sizes {
		@include media-breakpoint-up($name, $grid-breakpoints) {
			$spacing: map-get($tile-spacings, $name);

			width: calc((#{ $board-width } - #{ $spacing }) / #{ $tiles-per-row });
			height: calc((#{ $board-width } - #{ $spacing }) / #{ $tiles-per-row });
		}
	}
}

/**
 * Mixin with common animation properties.
 */
@mixin ease-in-out($duration) {
	animation-duration: $duration;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}