next-symbol {
	display: block;
	margin-top: $spacer;

	/**
	 * Set a responsive size to the tiles inside the <next-symbol> element.
	 */
	.tile {
		position: relative;
		will-change: transform;
		perspective: #{ $tile-perspective }px;

		/**
		 * Apply a responsive size to the tiles in the <next-symbol>. Note that 5 is used as the
		 * first argument to the mixin, which causes the tiles to be smaller than the ones on the
		 * board.
		 */
		@include responsive-tile(5);
	}

	/**
	 * Each tile has two shadows that are animated when the tiles are raised/lowered.
	 */
	.umbra,
	.penumbra {
		pointer-events: none;
		@include ease-in-out($raise-duration);
	}
	.umbra {
		background: url("/v{{ version }}/img/umbra.svg") center center/100% no-repeat;
		opacity: .3;
	}
	.penumbra {
		background: url("/v{{ version }}/img/penumbra.svg") center center/100% no-repeat;
		opacity: 0;
	}

	// Absolutely position the contents of the tiles.
	.umbra,
	.penumbra,
	.symbol,
	img {
		@include absolute-100;
	}

	// Unlike the <board-tile>, images in the <next-symbol> are always displayed.
	img {
		display: block;
	}

	.symbol {
		background-color: $gray-200;
		@include ease-in-out($raise-duration);
	}

	// Set the animations for when a tile is raised.
	.tile.raise {
		.umbra { animation-name: raise-umbra; }
		.penumbra { animation-name: raise-penumbra; }
		.symbol { animation-name: raise-tile; }
	}

	// Set the animations for when a tile is lowered.
	.tile.lower {
		.umbra { animation-name: lower-umbra; }
		.penumbra { animation-name: lower-penumbra; }
		.symbol { animation-name: lower-tile; }
	}
}

@keyframes raise-tile {
	from { transform: translateZ(-200px) scale(#{ $tile-scale }); }
	to { transform: translateZ(-100px) scale(#{ $tile-scale }); }
}

@keyframes lower-tile {
	from { transform: translateZ(-100px) scale(#{ $tile-scale }); }
	to { transform: translateZ(-200px) scale(#{ $tile-scale }); }
}

@keyframes raise-umbra {
	from {
		opacity: .3;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: 0;
		transform: translateY(5px) scale(#{ $tile-scale });
	}
}

@keyframes lower-umbra {
	from {
		opacity: 0;
		transform: translateY(5px) scale(#{ $tile-scale });
	}

	to {
		opacity: .3;
		transform: translateY(0) scale(1);
	}
}

@keyframes raise-penumbra {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: .5;
		transform: translateY(5px) scale(#{ $tile-scale });
	}
}

@keyframes lower-penumbra {
	from {
		opacity: .5;
		transform: translateY(5px) scale(#{ $tile-scale });
	}

	to {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
}