sw-loader {
	/**
	 * Place the <sw-loader> element at the bottom right corner.
	 */
	position: fixed;
	right: $spacer;
	bottom: $spacer;
	display: block;
	max-width: calc(100vw - #{ 2 * $spacer });

	.update-btn {
		margin-left: $spacer;
	}

	.alert {
		display: none;
		margin-bottom: 0;
		opacity: 0;
		will-change: opacity;
		@include ease-in-out($fade-duration);

		/**
		 * Alerts are hidden by default, unless they have the "fade-in" or "fade-out" class.
		 */
		&.fade-in,
		&.fade-out {
			display: block;
		}

		&.fade-in {
			animation-name: fade-in;
		}

		&.fade-out {
			animation-name: fade-out;
		}
	}
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}