tic-tac-toe {
	display: block;
	margin: $spacer auto;

	@each $name, $width in $board-sizes {
		@include media-breakpoint-up($name, $grid-breakpoints) {
			width: $width;
		}
	}

	.controls {
		margin: map-get($spacers, 3) 0;
	}

	next-symbol {
		margin-top: map-get($spacers, 5);
	}
}