tic-tac-toe {
	display: block;
	margin: $spacer auto;

	/**
	 * Set a responsive size for the <tic-tac-toe> element.
	 */
	@each $name, $board-width in $board-sizes {
		@include media-breakpoint-up($name, $grid-breakpoints) {
			width: calc(#{ $board-width });
		}
	}
}