/**
 * SVG overlay that indicates the winning row, column, or diagonal.
 */
svg.winner-indicator {
	// The overlay is hidden by default.
	display: none;
	@include absolute-100;

	// Show the overlay if the <svg> has a "data-winner" attribute.
	&[data-winner] {
		display: block;
	}

	/**
	 * Set the "stroke-dasharray" and "stroke-dashoffset" of <path> elements so that no path is
	 * initially visible.
	 */
	path {
		fill: none;
		stroke-width: 10;
		stroke-linecap: round;
		stroke-dasharray: 510;
		stroke-dashoffset: 510;
		stroke: map-get($theme-colors, "primary");
	}
	.diagonal {
		stroke-dasharray: 722;
		stroke-dashoffset: 722;
	}

	/**
	 * Use the "data-winner" attribute to display/animate the corresponding <path>.
	 */
	@each $i in 1, 2, 3 {
		@each $type in row, column {
			&[data-winner="#{ $type }#{ $i }"] path.#{ $type }#{ $i } {
				animation: winning-line 1s linear 1s forwards;
			}
		}
	}
	@each $i in 1, 2 {
		&[data-winner="diagonal#{ $i }"] path.diagonal#{ $i } {
			animation: winning-diagonal 1s linear 1s forwards;
		}
	}
}

@keyframes winning-line {
	from { stroke-dashoffset: 510; }
	to { stroke-dashoffset: 0; }
}

@keyframes winning-diagonal {
	from { stroke-dashoffset: 722; }
	to { stroke-dashoffset: 0; }
}